@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  background: #ebf0fa;
  @apply text-black;
}

.header-bar {
  @apply max-w-full mx-auto flex flex-row items-center justify-between 
}

.nav-bar {
  @apply flex flex-row items-center gap-8
}

.nav-link {
  @apply hover:opacity-75 font-medium cursor-pointer font-bold
}

.page-section {
  @apply max-w-full mx-auto mb-10
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
